<%= render 'questions_set', layout: 'Layout 1' %>
<div class="question-from mt-4">
  <div class="container" id="answer-field">
    <div class="question-form-card">
      <div class="question-form-card-header question_rcv">
        question_
      </div>
      <div class="question-form-card-body">
        <div class="question-form-card-title question_id">
          <%= link_to 'Please select one question', input_html: {id: "question_link"} %>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis nostrum atque dolore ut hic officiis eum in consectetur reprehenderit distinctio, magnam fugit labore iure blanditiis quis voluptatum rerum mollitia?
        </div>
        <form id="answer-form">
          <div class="options">
            <% ('A'..'E').each do |a| %>
              <div class="custom-control custom-radio">
                <input type="radio" name="option" class="custom-control-input" value=<%="#{a.downcase}"%> id=<%="option_#{a.downcase}"%> required>
                <label class="custom-control-label" for=<%="option_#{a.downcase}"%>>&nbsp;Maybe <%="#{a.upcase}"%></label><br>
              </div>
            <% end %>
          </div>
          <div class="answer">
            <div class="row">
              <div class="font-weight-bold">
                The answer:&nbsp;
              </div>
              <p class="one-answer font-weight-bold" id="answer">
                Choose an answer
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="#{ID}">Notes</label>
            <textarea class="form-control" id="#{ID}" rows="3"></textarea>
          </div>
        </form>
        <button type="submit" id='submit_btn' class="btn btn-primary mb-2" data-toggle="modal" data-target="#submitModal">Confirm Answer</button>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal' %>

<script>
  $('#answer-field').hide();
  $(".sliding").click(function(e) {
    e.preventDefault();
    $('#answer-field').show();
    $('#answer-form').trigger("reset");
    var questionId = $(this).data('id');
    var question = $(this).data('question');
    $('#answer').text('Choose an answer');
    $('.question_id').text('ID: '+questionId);
    $('.question_rcv').text(question);
    var aid = $(this).attr("href");
    $('html,body').animate({scrollTop: $(aid).offset().top},'slow');
  });
</script>