<div class="questions-container">
  <div class="questions-set-card">
    <div class="questions-card-header">
      questions_set
    </div>
    <% (0..5).each do |i| %>
      <div class="question-card" id=<%= "#{i}" %> >
        <div class="question-card-header">
          <%= "question_#{i}" %>
        </div>
        <div class="card-body">
          <div class="name font-weight-bold">
            <%= link_to "Answer question_#{i}", "#answer-field" %>
          </div>
          <div class="description">
            <p class="font-weight-bold">
              Description:
            </p>
            <p class="card-text">
              <%= "#{i} " %>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quisquam ducimus tenetur praesentium optio! Deleniti incidunt recusandae voluptas aliquam fugit praesentium esse iste doloribus! Ex laudantium excepturi nostrum explicabo eligendi?
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="question-from mt-4">
  <div class="container" id="answer-field">
    <div class="question-form-card">
      <div class="question-form-card-header">
        question_
      </div>
      <div class="question-form-card-body">
        <div class="question-form-card-title">
          <%= link_to 'Please select one question', id: 'question_link' %>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis nostrum atque dolore ut hic officiis eum in consectetur reprehenderit distinctio, magnam fugit labore iure blanditiis quis voluptatum rerum mollitia?
        </div>
        <form id="answer-form">
          <div class="options">
            <% ('A'..'E').each do |a| %>
              <div class="custom-control custom-radio">
                <input type="radio" name="option" class="custom-control-input" value=<%="#{a.downcase}"%> id=<%="option_#{a.downcase}"%>>
                <label class="custom-control-label" for=<%="option_#{a.downcase}"%>>&nbsp;Maybe <%="#{a.upcase}"%></label><br>
              </div>
            <% end %>
          </div>
          <div class="answer">
            <div class="row">
              <div class="font-weight-bold">
                The answer:&nbsp;
              </div>
              <p class="one-answer font-weight-bold" id="answer">
                Choose one answer
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="#{ID}">Notes</label>
            <textarea class="form-control" id="#{ID}" rows="3"></textarea>
          </div>
        </form>
        <button type="submit" class="btn btn-primary mb-2" data-toggle="modal" data-target="#submitModal">Confirm Answer</button>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal' %>