<!DOCTYPE html>
<html>
  <head>
    <title>TestBertus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer class="my-own-footer">
    <p class="text-sm-center mb-0 px-2">
        <span class="float-md-left d-xs-block d-md-inline-block">
      Copyright  © 2019 <a href="#" target="_blank">
      Albertus Christyadhi
    </a></span>
        <a href="#" target="_blank">
            <span class="float-md-right d-xs-block d-md-inline-block hidden-md-down">
      Hand-crafted &amp; Made with PASSION
    </span>
        </a>
    </p>
    <a href="#" target="_blank">
    </a>
</footer>
</html>
